<%- include('./partials/head')%>
<form action="/api/productos" method="post" id="form-products" class="form">
  <label class="label-inputs" for="nombre">Nombre del Producto</label>
  <input class="inputs-form" type="text" name="nombre" id="nombre" />
  <label class="label-inputs" for="precio">Precio del Producto</label>
  <input class="inputs-form" type="text" name="precio" />
  <label class="label-inputs" for="url">Url del Producto</label>
  <input class="inputs-form" type="text" name="url" />
  <input class="boton" type="submit" value="Ingresar Producto" />
  <% if (products) { %>
  <button onclick="location.href='http://localhost:8080/api/productos'">
    Ver productos
  </button>
  <% } %>
</form>
